MODEL_NAME=qwen2.5:14b-instruct-q5_K_M
CODING_AGENT_MODEL_NAME=qwen2.5-coder:14b-instruct-q4_K_M
MODEL_JUDGE_NAME=qwen2.5:14b-instruct-q5_K_M
MODEL_BASE_URL=https://a3e5-34-53-33-204.ngrok-free.app
EMBEDDING_MODEL=nomic-embed-text    
MODEL_TYPE=OLLAMA

# API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=